[submodule "submodules/promise"]
	path = submodules/promise
	url = https://github.com/taylorhakes/promise-polyfill.git
[submodule "submodules/filesaver"]
	path = submodules/filesaver
	url = https://github.com/eligrey/FileSaver.js.git
